

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
*{
  margin:0px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
/* Dark Mode */

#dark{
  background-color:black;
  color: white;

}

#light{
  background-color:  rgb(16, 51, 67);
  color:white;
}

 @media (min-width: 200px) and (max-width: 500px) {
  #light {
    width: 130%;                 
     /* Adjust this value based on your design requirements */
    }
}
 @media (min-width: 200px) and (max-width: 300px) {
  #light {
    width: 180%;                 
     /* Adjust this value based on your design requirements */
    }
}
 

@media (min-width: 200px) and (max-width: 500px) {
  #dark {
    width: 130%;                 
     /* Adjust this value based on your design requirements */
    }
}
 @media (min-width: 200px) and (max-width: 300px) {
  #dark {
    width: 180%;                 
     /* Adjust this value based on your design requirements */
    }
}
/* .footer{

  margin-bottom: -40px;

} */

@media (min-width: 200px)  {
  .footer {
    margin:0;
    padding:0;
    margin-top:20px;
    margin-bottom: -26px;
   }
}