.project {
    /* padding-left: 130px;
    margin-top: 60px;  */
    /* margin: 50px 0px; */
    /* margin-right: 50px;  */
/* 
    margin: 50px 0px;
    margin-left: 50px; */
    margin-left: 50px;
  }
  .project hr {
    color: #000000;
    width: 400px;
    margin: 10px auto;
  }
  .project h2 {
    font-weight: bold;
    color:white;
  }
  .project .card {
    cursor: pointer;
  }
  .project .tech-icon {
    font-size: 2rem;
    margin-right: 10px;
  }  
  .project .card img {
    height: 140px;
    width: 100%;
  }

  #ads {
    margin: 30px 0px 30px 60px;
  }
  #ads .card-notify-badge {
    position: absolute;
    left: -10px;
    top: -20px;
    background:#00223c;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
  }  
  .card-detail-badge {
    background-color:#000000;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
  }

  .card-image-overly {
    font-size: 20px;
  }
  .card-image-overly span {
    display: inline-block;
    margin-left: 5px;
  }


  .project .card:hover {
    background-color: white;
    border-radius: 4px;
    box-shadow: 12px 15px 20px 0px rgba(243, 238, 238, 0.852);
    transition: all 1s ease;
  }
  .ad-btn {
 
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    display: block;
    text-align: center;
    background-color: rgb(4,7,11);
    color: white;
    border-radius: 80px;
    font-size: 16px;
    line-height: 35px;
    text-decoration: none;
    margin: 20px auto 20px auto;
    overflow: hidden;
    position: relative;
  }

  .ad-btn:hover {
    background-color: white;
    color: #138781;
    background: transparent;
    border: 2px solid #138781;
    transition: all 0.5s ease;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  }

  @media(max-width:600px){
    .project{
      padding: 0px;
      margin: 0px;
      /* margin-left: -30px; */
    }
    .project .card{
      margin-top: 40px;
       margin-left: -55px; 
      /* width: 110%; */
      /* padding-left: 30px; */

      /* margin-right: 40px; */
    }
  }
