.home-container {
    height: 280px;
    color: white;
    padding-left: 150px; 
    /* background-color: rgb(9, 94, 94); */
    width: 109%;
  }
  .home-content h1 {
    color: rgb(242, 241, 241);
    padding: 0px;
    padding-top: 70px;
    margin-left: 5px;

 
  }
  .home-content h2 {
    color: #e0b50f;
    padding: 5px;
  
  }
  .home-buttons{ 
     margin-left: 10px; 
    margin-top: 20px;
  }
  .home-buttons .btn-hire {
    background-color: #3b8ff3;
    color: white;
    width: 160px;
  }
  .home-buttons .btn-hire:hover {
    background-color: white;
    color: #3b8ff3;
    width: 200px;
    transition: 1s;
  }
  
.home-buttons .btn-cv {
    background-color: #f29f67;
    color: white;
    margin-left: 15px;
  }
  .home-buttons .btn-cv:hover {
    opacity: 80%;
    transition: 1s;
  }
  .theme-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #1e1e1e;
    margin-top: 20px;
    text-align: center;
    position: fixed;
    right: 0;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
  }


  /* ================MObile View========== */
  @media(max-width:600px){
    .home-container{
      padding: 0px;
      margin: 0px;
      margin-top:50px;
      /* width: 50%; */
    }
    .theme-btn {
  
      right: 60px;
    }


  }