.about {
    margin: 30px;
    padding: 20px;
    margin-left: 148px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* margin-top: -180px; */
    margin-right: 6px;
    /* background-color: black; */
   

  }

  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }




.about-img img {
    border-radius: 10px;
    width: 100%;
    height: 90%;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
.about-content h1 {
 color:white;
   
    font-family: cursive;
    border-bottom: 2px solid gray;
    text-align: center;
  }
  .about-content p {
    text-align: justify;
    padding: 20px;
  }


  /* ----------------------- */

  @media(max-width:600px){
    .about{
      padding: 0px;
      margin: 0px;
      width: 100%;
    }
  }